.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pokeball-background {
  background: linear-gradient(180deg, rgba(255, 0, 0, 0.855) 50%, #ffffffda 50%);
  position: relative;
  min-height: 100vh;
  opacity: 0; /* Inicialmente invisible */
  animation: fadeIn 2s ease-in forwards; /* Aplicar la animación */
}

/* Línea negra que separa las secciones roja y blanca */
.pokeball-background::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 5px; /* Grosor de la línea */
  background: #000000; /* Color de la línea */
  transform: translateY(-50%); /* Centrar verticalmente */
  opacity: 0; /* Inicialmente invisible */
  animation: fadeIn 1s ease-in 0.5s forwards; /* Retraso de 0.5s */
}

/* Círculo blanco */
.pokeball-background::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background: #ffffff;
  border: 10px solid #000000;
  border-radius: 50%;
  opacity: 0; /* Inicialmente invisible */
  animation: fadeIn 1s ease-in 0.5s forwards; /* Retraso de 0.5s */
}

/* Círculo negro (botón central) */
.pokeball-background::after::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: #000000;
  border-radius: 50%;
  opacity: 0; /* Inicialmente invisible */
  animation: fadeIn 1s ease-in 1s forwards; /* Retraso de 1s */
}


.pokedex-title {
  font-size: 5rem;
  color: #ffcc00;
  animation: glow 2.5s infinite alternate;
  margin-bottom: 0;
}

@keyframes glow {
  0% {
    text-shadow: 0px 0px 2.5px #0051ff, 0px 0px 2.5px #1100ff;
  }
  100% {
    text-shadow: 0px 0px 5px #0051ff, 0px 0px 10px #1100ff;
  }
}
.loader {
  width: 60px; /* Tamaño de la Pokéball */
  height: 60px;
  border: 2px solid #000; /* Borde exterior */
  border-radius: 50%;
  position: relative;
  background: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0.855) 50%,
    #fff 50%
  ); /* Mitad roja y mitad blanca */
  animation: rotate 1s linear infinite;
}

.loader:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px; /* Tamaño del círculo central */
  height: 20px;
  background: #fff; /* Fondo blanco del círculo central */
  border: 1px solid #000; /* Borde del círculo central */
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.loader:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px; /* Tamaño del círculo interior */
  height: 10px;
  background: #000; /* Color del círculo interior */
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}